<div class="row mt-5">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Reset your password</h1>
        <form class="example-form" (submit)="onForgot()">

          <mat-form-field >
            <input matInput placeholder="Email" name="email" id="email" [(ngModel)]="email">
          </mat-form-field>
         
          <button mat-button >
            <mat-icon align="left">send</mat-icon>Send
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
